<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            A class representing a combo meal
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.CretaceousCombo.entre">
            <summary>
            Entree entre steakosaurus by default
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.CretaceousCombo.sid">
            <summary>
            Fryceritops side default.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.CretaceousCombo.drin">
            <summary>
            Drink default set to sodasaurus
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.CretaceousCombo.PropertyChanged">
            <summary>
            The propertychanged eventhandler.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.CretaceousCombo.size">
            <summary>
            Size Property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Gets and sets the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Gets and sets the side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Gets and sets the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Gets the price of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Gets the calories of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Gets or sets the size of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Gets the list of ingredients for the combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructs a new combo with the specified entree
            </summary>
            <param name="entree">The entree to use</param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            This override sthe tostring method and prints it out.
            </summary>
            <returns>This is the overridden tostring.</returns>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Description">
            <summary>
            This is the description implementation.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            This is the special getter property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.NotifyOfPropertyChanged(System.String)">
            <summary>
            This notifys of the property  changed.
            </summary>
            <param name="name"></param>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            Drinks class.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drink.price">
            <summary>
            This is the price double.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drink.calories">
            <summary>
            This is the uint calories
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drink._ice">
            <summary>
            This is the ice bool.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            This is the price double, it holds the price.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            This is the calories uint, it has properties.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            This is the ingreidents list. It has a getter.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            This is the ice getter/setter.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Description">
            <summary>
            This is the description getter, abstracted.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Special">
            <summary>
            This is the special getter, abstrated.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            THis holds the ice.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Drink.PropertyChanged">
            <summary>
            The event handler handles if any drink properties were changed.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.NotifyOfPropertyChanged(System.String)">
            <summary>
            An accessor method for doing things.
            </summary>
            <param name="name">Tproperty to change.</param>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            This is the jurrassicJava Class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            This is the basic no argument constructor.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.JurassicJava.size">
            <summary>
            This is the size Size.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.JurassicJava.roomForCream">
            <summary>
            This is the roomforcream bool.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            This is the roomforcream property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            This is the decaf property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.AddIce">
            <summary>
            This is the addice method.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            This is the leaveroomforcream method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            this is the size property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ingredients">
            <summary>
            This is the ingredients property. it returns it.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            This is the tostring method.
            </summary>
            <returns>This is the overriden string.</returns>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Description">
            <summary>
            This is the overridden description method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Special">
            <summary>
            This is the special information array return.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            Enum Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            Cola Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            Orange Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            RootBeer Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            Cherry flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            Lime flavor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            This is the sodasaurus class.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.size">
            <summary>
            Private Size, size.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.flavor">
            <summary>
            Flavor for sodasaurus.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            This is the flavor property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            Sodasaurus Constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            This is the ingredients override.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            This is the tostring method.
            </summary>
            <returns>This overrides the tostring.</returns>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Description">
            <summary>
            This is the overridden description method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Special">
            <summary>
            This is the special information array return.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            Tyrannotea class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.sweet">
            <summary>
            This is the sweet bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.lemon">
            <summary>
            This is the lemon bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.size">
            <summary>
            This is the Size, size.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            This is the trannotea constructor with no arguments.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            This is the sweet property. YOu can get/set the tea's sweetness
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            This is the lemon property, you can get/set the lemon.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            This is the size property, it has getters/setters for the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            This is the ingredients method, it returns the ingredients.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            This is the addlemon method, it adds a lemon.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string.</returns>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Description">
            <summary>
            This is the overridden description method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Special">
            <summary>
            This is the special information array return.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            This is the water class.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            This is the no argument constructor.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Water.lemon">
            <summary>
            Lemon Bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Water.size">
            <summary>
            Size Size.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            This is the lemon property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            This is the ingredients property, it brings things.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            This is the add lemon method.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            This is the major tostring
            </summary>
            <returns>this is the string you return.</returns>
        </member>
        <member name="P:DinoDiner.Menu.Water.Description">
            <summary>
            This is the overridden description method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Special">
            <summary>
            This is the special information array return.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            This is the brontowurst class.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.bun">
            <summary>
            This is the private variable, bun. It is whether or not you hold the bun.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.peppers">
            <summary>
            This is the private variable, pepper. It is whether or not you hold the peppers.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Brontowurst.onion">
            <summary>
            This is the private onions variable. It is whether not you hold the onions.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            This is the public ingredients property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            This is the brontowurst constructor.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            This is the holdbun method. It holds the bun.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            This is the holdpeppers method. It holds the peppers.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            This is the holdonions method. It holds the onions.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Description">
            <summary>
            This is the description overridden.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            This is the dinonuggets class.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.DinoNuggets.Nuggets">
            <summary>
            This is the nugget uint, it holds nugget count.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            This is the ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            This is the dinonuggets constructor.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            This is the addnugget method, it adds a nugget.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Special">
            <summary>
            The big getter setter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Description">
            <summary>
            This is the description string.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            Entree Class.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entree.price">
            <summary>
            This is the price variable.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entree.calories">
            <summary>
            This is the unit calories.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            This is the calories property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            This is the price constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Description">
            <summary>
            Description getter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Special">
            <summary>
            This is the string array special
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Entree.PropertyChanged">
            <summary>
            The event handler handles if any drink properties were changed.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entree.NotifyOfPropertyChanged(System.String)">
            <summary>
            An accessor method for doing things.
            </summary>
            <param name="name">Tproperty to change</param>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            This is the prehistoricpbj class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.PrehistoricPBJ.peanutButter">
            <summary>
            This is the peanut butter bool
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.PrehistoricPBJ.jelly">
            <summary>
            This is the jelly bool
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            This is the constructor.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            This holds peanut
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            This holds jel
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Special">
            <summary>
            This is the override method
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            This is the pterodacylwings class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            This is the ingredients, it returns the list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            This is pterodactylWings constructor.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Special">
            <summary>
            Tihis is the string speical getter.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            This is the steakosaurus burger class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.bun">
            <summary>
            This is the bun bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.pickle">
            <summary>
            This is the pickle bool.
            </summary>/
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.pattie">
            <summary>
            This is the pattie bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.ketchup">
            <summary>
            This is the ketchup bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.mustard">
            <summary>
            This is the mustard bool.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            Steakosaurus Constructor
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            This is the ingredients, it returns the list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            This allows you to hold the bun.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            This allows you to hold the pickle.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            This allows you to hold the ketchup
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            This allows you to hold the mustard.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            This is the trexkingburger class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.bun">
            <summary>
            This is the bun bool
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.lettuce">
            <summary>
            this is the lettuce bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.tomato">
            <summary>
            This is the tomato bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.onion">
            <summary>
            This is the onion bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.pickle">
            <summary>
            This is the pickle bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.ketchup">
            <summary>
            This is the ketchup bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.mustard">
            <summary>
            This is the mustard bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.mayo">
            <summary>
            This is the mayo bool.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Description">
            <summary>
            This is the description string override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Special">
            <summary>
            This is the string special override.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            This is the constructor.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            This is the bun.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            this holds the lettuce.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            This holds the tomato.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            This holds the onion.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            This holds the pickle.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            this holds the ketchup.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            This holds the mustard.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            This holds the mayo.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            Velociwrap Class
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.dressing">
            <summary>
            This is the dressing bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.lettuce">
            <summary>
            This is the lettuce bool.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.cheese">
            <summary>
            This is the cheese bool.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            This is the constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            This holds the lettuce.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            This holds the dressing.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            This holds the cheese.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            IMenuItem interface
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Price Getter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Calories Getter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            Ingredients Getter
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            This is the iorderitem interface.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            This is the price double getter property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            This is the description getter property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            This is the special string array getter property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Ingredients">
            <summary>
            This is the list of ingredients.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            This defines the menu class.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            This is the availableMenuItems list.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            This is the availabledrinks preopterty.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            This returns a list of possible sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            This is the available combos method.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            This is the availableEntree list getter property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.PossibleIngredients">
            <summary>
            This is the possible ingredients method. It 
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            This is the tostring override.
            </summary>
            <returns>This string contains information.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.CategoryFilter(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem}[],System.Collections.Generic.List{System.String})">
            <summary>
            This is used for filtering by category
            </summary>
            <param name="items">These are the items you're searching by</param>
            <param name="search">This is the term you're searching with</param>
            <returns>This is the list of results.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.PriceFilter(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem}[],System.Single,System.Single)">
            <summary>
            This is the pricefilter method.
            </summary>
            <param name="items">This is the list of items you're searching through</param>
            <param name="minPrice">This is the minimum price you want.</param>
            <param name="maxPrice">This is the maxmimum price you want</param>
            <returns>This is the list of results.</returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.IngredientsFilter(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem}[],System.Collections.Generic.List{System.String})">
            <summary>
            This is the filter by ingredients method.
            </summary>
            <param name="items">This is the list you're filtering.</param>
            <param name="removedIngredients">This is the listblacklist</param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.SearchWithPhrase(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem}[],System.String,System.Boolean)">
            <summary>
            This is the search with phrase method.
            </summary>
            <param name="items">This is the items you're searching throug</param>
            <param name="phrase">This is the phrase you're searching with</param>
            <param name="ingredients">This is the list of ingredients.</param>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            /This is the order class.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            /This is the propertychangedEventHandler
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            This is the salestax rate Property.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            This is the salestaxcost property.  
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            This is the total cost property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            This is the order constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            This is the observablecollection, items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            This is the subtotalcost property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.OnCollectionChanged(System.Object,System.Collections.Specialized.NotifyCollectionChangedEventArgs)">
            <summary>
            This is the oncollectionchanged notifyer.
            </summary>
            <param name="sender"> This is the sender object.</param>
            <param name="e"> This is the notifycollectionchangedargs object.</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Add(DinoDiner.Menu.IOrderItem)">
            <summary>
            This adds an item to the item collection.
            </summary>
            <param name="item">This is the item you are adding</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Remove(DinoDiner.Menu.IOrderItem)">
            <summary>
            This removes an item from the collection
            </summary>
            <param name="item">This adds an item to the collectoin</param>
            <returns>This is the item if it is successful</returns>
        </member>
        <member name="M:DinoDiner.Menu.Order.NotifyItemChanged(System.Object,System.ComponentModel.PropertyChangedEventArgs)">
            <summary>
            This is the notify item changed method
            </summary>
            <param name="sender">This is the object sender</param>
            <param name="e">This is the propertychangedeventarguments</param>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            This is the Friceritops 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            This is the fryceritop constructor.
            </summary> 
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            This is the ingredients thing.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            This is the MeteorMacAndCheese constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            This is the ingredients thing.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            This ist the mozzerella sticks class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            This is the size property.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            This is the default constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Description">
            <summary>
            This is the description, abstracted.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Special">
            <summary>
            This is the special, abstracted.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Side.PropertyChanged">
            <summary>
            The event handler handles if any drink properties were changed.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.NotifyOfPropertyChanged(System.String)">
            <summary>
            An accessor method for doing things.
            </summary>
            <param name="name">Tproperty to change</param>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            This is the triceritots class.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            This is the size property for triceritots.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            This is the default constructor.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            This is the ingredients list.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            This is the overridden tostring method.
            </summary>
            <returns>This is the string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Description">
            <summary>
            This is the description override.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Special">
            <summary>
            This is the special override.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            This is the side enum
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            Small option.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            Medium Option
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            Large option.
            </summary>
        </member>
    </members>
</doc>
